.team-section {
    padding-top: 30px;
    padding-bottom: 60px;
    &__slider {
        padding-top: 21px;
    }

    &__slide {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        background-color: $colorGreyBg;
        border-radius: 12px;
    }
    &__pic {
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        background-image: url(../img/test.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        width: 100%;
        height: 500px;
        background-size: cover;
    }
    &__inset {
        padding: 30px;
    }
    &__title {
        font-weight: 700;
        font-size: 30px;
        line-height: 37px;
        @include gradienttext;
        padding-top: 5px;
        padding-bottom: 30px;
        word-wrap: break-word;
    }
    &__name {
        font-size: 16px;
        line-height: 20px;
        color: $colorGreyText;
        padding-bottom: 6px;
    }
    &__position {
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        color: $colorGreyText;
    }
}

@media (min-width: 768px) {
    .team-section {
        padding-top: 57px;
        &__title {
            font-size: 38px;
            line-height: 46px;
        }
    }
    .my-dots {
        padding-top: 22px;
    }
}

@media (min-width: 992px) {
    .team-section {
        &__wrap {
            display: flex;
        }
        &__slide {
            flex-direction: row;
        }
        &__pic {
            background-image: url(../img/team-item-1-tablet-hd.jpg);
            width: 44%;
            border-top-left-radius: 12px;
            border-top-right-radius: unset;
            border-bottom-left-radius: 12px;
            height: 529px;
            background-size: cover;
        }
        &__inset {
            width: 56%;
        }
    }
}

@media (min-width: 1201px) {
    .team-section {
        &__pic {
            width: 35%;
            background-image: url(../img/test.jpg);
            height: 346px;
            background-size: cover;
        }
        &__inset {
            width: 80%;
        }
    }
}
