.publications {
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 2px solid $colorGreySeparator;
    &__title {
        font-weight: 700;
        font-size: 30px;
        line-height: 37px;
        @include gradienttext;
        padding-top: 4px;
        padding-bottom: 30px;
    }
    &-box {
        display: grid;
        gap: 30px;
    }
    &-item {
        background-color: $colorBasicWhite;
        border-radius: 8px;
        &__pic {
            height: 200px;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            &.pic-01 {
                background-image: url(../img/associate.jpg);
            }
            &.pic-02 {
                background-image: url(../img/gdpr.jpg);
            }
            &.pic-03 {
                background-image: url(../img/millennials.jpg);
            }
        }
        &__inset {
            padding: 30px;
        }
        &__link {
            display: inline-flex;
            font-size: 16px;
            line-height: 20px;
            color: $colorActiveRegular;
            margin-bottom: 15px;
        }
        &__date {
            font-size: 12px;
            line-height: 15px;
            letter-spacing: 1px;
            text-transform: uppercase;
            color: $colorGreyText;
            padding-bottom: 15px;
        }
        &__text {
            font-weight: 400;
            font-size: 14px;
            line-height: 22px;
            color: $colorBasicBlack;
            border-top: 4px solid $colorGreySeparator;
            padding-top: 15px;
        }
    }
}

@media (min-width: 768px) {
    .publications {
        &__title {
            font-size: 38px;
            line-height: 46px;
            padding-top: 9px;
        }
        &-box {
            grid-template-columns: repeat(2, 1fr);
        }
        &-item {
            &.article-03 {
                grid-column: -3 / -1;
            }
            &__pic.pic-03 {
                background-image: url(../img/millennials-tablet.jpg);
            }
        }
    }
}

@media (min-width: 992px) {
    .publications {
        padding-top: 27px;
        &-box {
            grid-template-columns: repeat(3, 1fr);
        }
        &-item {
            &.article-03 {
                grid-column: 3 / 4;
            }
            &__pic.pic-03 {
                background-image: url(../img/millennials-tablet-hd.jpg);
            }
        }
    }
}
@media (min-width: 1201px) {
    .publications {
        &-item {
            &__pic {
                background-size: cover;
                &.pic-01 {
                    background-image: url(../img/associate-desktop.jpg);
                }
                &.pic-02 {
                    background-image: url(../img/gdpr-desktop.jpg);
                }
                &.pic-03 {
                    background-image: url(../img/millennials-desktop.jpg);
                }
            }
        }
    }
}
