.team-section {
    padding-top: 30px;
    padding-bottom: 60px;
    &__slider {
        padding-top: 30px;
    }

    &__slide {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        background-color: $colorGreyBg;
        border-radius: 12px;
    }
    &__pic {
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        background-image: url(../img/test.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        width: 100%;
        height: 500px;
        background-size: cover;
    }
    &__inset {
        padding: 30px;
    }
    &__link {
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: $colorActiveRegular;
        display: inline-flex;
        align-items: center;
        &::after {
            content: "";
            width: 12px;
            height: 12px;
            background-image: url(../img/service-arrow.svg);
            background-position: center bottom;
            background-repeat: no-repeat;
            padding-right: 2px;
        }
    }
    &__title {
        font-weight: 700;
        font-size: 30px;
        line-height: 37px;
        @include gradienttext;
        padding-top: 5px;
        padding-bottom: 30px;
        word-wrap: break-word;
    }
    &__name {
        font-size: 16px;
        line-height: 20px;
        color: $colorGreyText;
        padding-bottom: 6px;
    }
    &__position {
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        color: $colorGreyText;
    }
}

@media (min-width: 768px) {
    .team-section {
        padding-top: 60px;
        &__title {
            font-size: 38px;
            line-height: 46px;
        }
    }
}

@media (min-width: 992px) {
    .team-section {
        &____wrap {
            display: flex;
        }
        &__slide {
            flex-direction: row;
        }
        &__pic {
            width: 40%;
            border-top-left-radius: 12px;
            border-top-right-radius: unset;
            border-bottom-left-radius: 12px;
            height: 531px;
            background-size: cover;
        }
        &__inset {
            width: 50%;
        }
    }
}

@media (min-width: 1201px) {
    .team-section {
        &__pic {
            width: 35%;
            background-image: url(../img/test.jpg);
            height: 346px;
            background-size: cover;
        }
        &__inset {
            width: 80%;
        }
    }
}
