.about {
    padding-top: 30px;
    padding-bottom: 30px;
    &__title {
        font-weight: 700;
        font-size: 30px;
        line-height: 37px;
        background: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-bottom: 28px;
    }
    &__text {
        font-weight: 400;
        font-size: 19px;
        line-height: 30px;
        color: $colorBasicBlack;
        margin-bottom: 30px;
    }
    &-inset {
        display: flex;
        flex-direction: column;
        gap: 40px;
        border-left: 4px solid $colorGreySeparator;
        &__icon,
        &__text {
            padding-left: 30px;
        }
        &__icon {
            font-size: 36px;
            line-height: 44px;
            padding-bottom: 10px;
            background: linear-gradient(
                90.13deg,
                #f0145a 0.84%,
                #ef8080 99.96%
            );
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            display: inline-flex;
            align-items: center;
            &::before {
                content: "";
                width: 32px;
                height: 32px;
                // background-image: url(../img/flag-about.svg);
                background-repeat: no-repeat;
                background-position: center center;
                margin-right: 8px;
            }
        }
        .icon01 {
            background-image: url(../img/flag-about.svg);
        }
        .icon02 {
            background-image: url(../img/bag-about.svg);
        }
        .icon03 {
            background-image: url(../img/star-about.svg);
        }

        &__text {
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            color: $colorMainRegular;
        }
    }
}
