$colorGreyText: #b3b3ba;
$colorGreyBg: #f5f5fa;
$colorGreySeparator: #e6e6f0;
$colorAccent: #f0145a;
$colorBasicWhite: #ffffff;
$colorBasicBlack: #000000;
$colorMainRegular: #323264;
$colorMainAlt: #46466e;
$colorActiveRegular: #24a3ff;
$colorActiveHover: #0085ff;
$colorMainRegular: #323264;
